---
// Este es el "Router" de Astro
import Layout from "../layouts/Layout.astro";
import { Contact as ContactComponents } from "../components/Contact"; // Tu componente TSX real
import { DEFAULT_LANG } from "../locales";

// Forzamos el idioma por defecto
const currentLang = DEFAULT_LANG;
---

<Layout title="Contacto | Portafolio">
    <section class="py-25 px-4">
        <div class="container mx-auto max-w-6xl">
            <!-- Astro inyecta el TSX aquí -->
            <ContactComponents lang={currentLang} client:load />
        </div>
    </section>
</Layout>
