---
// src/pages/index.astro o similar
import "../styles/global.css";
import { Home } from '../components/Home';
import { DEFAULT_LANG } from '../locales';
import Layout from "../layouts/Layout.astro";
import { InfoPrincipal } from '../components/InfoPrincipal';


// Forzamos el idioma por defecto
const currentLang = DEFAULT_LANG;
---

<Layout title="Yorch | Software Engineer">

        {/* Sección Inicial (Hero / Home) */}
        <div class="w-full">
            <Home lang={currentLang} client:load />
        </div>
        
        {/* Sección de Información Principal (Ya no se solapará jamás) */}
        <section class="px-4 w-full">
            <div class="container mx-auto max-w-6xl">
                <InfoPrincipal lang={currentLang} client:visible/>                  
            </div>
        </section>
</Layout>